body{height: 4000px;}
.container{width:1170px ; margin: 0 auto;}

.header .slider {height: 600px; background-color:whitesmoke}
.header .slider .cover {text-align: center;
    padding-top: 300px}
    .header .slider .cover h2{color: yellow; font-size: 53px;
    border-top: 3px solid yellow; border-bottom:  3px solid yellow;
text-transform: uppercase}
.header .slider .cover   button{background-color: violet; border: 3px solid yellow;
    text-transform: capitalize; width: 100px; height: 50px; 
    font-weight: bold;font-size: 14px;}
    .header .navbar{background-color: black;height: 100px;overflow: hidden;}
    .header .navbar h2{color: red;text-transform: uppercase;float: left;}
    .header .navbar h2 span{color: green}
    .header .navbar ul{float: right;list-style: none;}
    .header .navbar ul li{float: left;padding-right: 30px;}
    .header .navbar ul li a{text-transform: uppercase;color: red;font-size: 24px}
    .header .navbar ul li a:hover{color: green;font-size: 30px;text-decoration: none}
    /*..end header..*/
   
/*start photo*/

.photos{background-color: blue;
    overflow: hidden;
}


.photos .hp{
    text-align: center
}
.photos .image{width: 33.3333%; float: left; margin-bottom: 30px}


/*end photo*/



